<section class="page-strip page-strip--grey" id="gen">
  <div class="wrapper" data-aos="fade-up">
    <div class="section-title pb-0">
      <h2>4In Gen</h2>
    </div>
    <div class="fifty-fifty fifty-fifty--column-reverse-mobile">
      <div class="fifty-fifty__child">
        <div class="page-strip__content page-strip__content--margin-bottom">
          <h2 class="p page-strip__subheading">

          </h2>
          <h3 class="h3 page-strip__title">
            Robot de rédaction :
          </h3>
          <p class="p page-strip__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci asperiores commodi corporis cum cumque
            debitis dicta
            dolorum eligendi facilis harum impedit in ipsa iste laboriosam magni minima minus natus odit officiis
            possimus qui quos
            reiciendis, suscipit totam? Consequatur, illo!
          <ul>
            <li> Générer automatiquement et massivement des textes personnalisés</li>
            <li> Proposer un contenu conversationnel pour des réponses aux emails/questions des forums</li>
          </ul>

        </div>
      </div>
      <div class="fifty-fifty__child" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="20">
        <div class="page-strip__visual-container">
          <img src="assets/img/products/gen.png" alt="" class="page-strip__visual">
        </div>
      </div>
    </div>
  </div>
</section>
