<header id="header" class="fixed-top" #header>
  <div class="container d-flex ">

    <h1 (click)="redirectToSection(true)"  class="logo mr-auto scrollto fade" id="logo" >
      <!--      <a href="#top">4InData</a>-->
      <a href="#top" class="logo mr-auto"><img src="assets/img/logo-long.svg" alt=""></a>
    </h1>
    <!-- Uncomment below if you prefer to use an image logo -->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li (click)="redirectToSection(true)" class="active" ><a href="#top">Acceuil</a></li>
        <li  (click)="redirectToSection()"><a href="#about">Société</a></li>
        <li (click)="redirectToSection()"><a href="#shield">Solution</a></li>
        <li (click)="redirectToBlog($event)"><a href="#blogs_section">Blog</a></li>
        <li (click)="redirectToNews($event)"><a href="#news_section">Événements</a></li>
        <li (click)="redirectToSection()"><a href="#call-to-action">Contact</a></li>
        <li ><a data-toggle="modal" data-target="#sign-in-modal"><i class="icofont-ui-user"></i>&nbsp;connecter</a></li>
      </ul>
    </nav>

  </div>
</header>



<div class="modal" id="sign-in-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <app-sign-in></app-sign-in>
      </div>
    </div>
  </div>
</div>
