<!-- ======= Footer ======= -->
<footer id="footer"  style="box-shadow: 0 2px 7px -2px rgba(0,0,0,0.4)">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>4IN DATA</h3>
          <p>
            14, rue de Mantes, <br>
            92700 Colombes - France <br><br>
            <strong>Tel:</strong><a href="tel:+330146493261">&nbsp; +330 146 493 261</a><br>
            <strong>E-mail:</strong><a href="mailto:contact@4indata.com">&nbsp; contact@4indata.com</a><br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li (click)="redirectToSection()"><i class="bx bx-chevron-right"></i> <a href="#top">Acceuil</a></li>
            <li (click)="redirectToSection()"><i class="bx bx-chevron-right"></i> <a href="#about">A PROPOS DE NOUS</a></li>
            <li (click)="redirectToSection()"><i class="bx bx-chevron-right"></i> <a href="#why-us">Pourquoi choisir 4In Data ?</a></li>
            <li (click)="redirectToBlog($event)"><i class="bx bx-chevron-right"></i> <a href="#blogs_section">Blog</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos Produits</h4>
          <ul>
            <li (click)="redirectToSection()"><i class="bx bx-chevron-right"></i> <a href="#shield">4In Shield</a></li>
            <li (click)="redirectToSection()"><i class="bx bx-chevron-right"></i> <a href="#gen">4In Gen</a></li>
            <li (click)="redirectToSection()"><i class="bx bx-chevron-right"></i> <a href="#radar">4In Radar</a></li>
            <li (click)="redirectToSection()"><i class="bx bx-chevron-right"></i> <a href="#enrich">4In Enrich</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos réseaux sociaux</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links mt-3">
            <a href="https://twitter.com/4indata" target="_blank" class="twitter icon-container"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/4inData/" target="_blank" class="facebook icon-container"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.linkedin.com/company/4in-data/" target="_blank" class="linkedin icon-container"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix text-center">
    <div class="copyright">
    Dev Ahmed Mechergui -  &copy; Copyright <strong><span>4In Data</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->
