<section class="page-strip page-strip--light pb-0" id="radar">
  <div class="wrapper" data-aos="fade-up">
    <div class="section-title">
      <h2>4In Radar</h2>
    </div>
    <div class="fifty-fifty">
      <div class="fifty-fifty__child" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="20">
        <div class="page-strip__visual-container" style="transform: translateY(-18%)">
          <img src="assets/img/products/radar.png" alt="" class="page-strip__visual" style="transform: rotateY(180deg);">
        </div>
      </div>
      <div class="fifty-fifty__child">
        <div class="page-strip__content page-strip__content--margin-bottom">

          <h3 class="h3 page-strip__title">
            Augmenter la visibilité des produits/services
          </h3>
          <p class="p page-strip__text">
            4INRADAR vous offre la possibilité d’écouter en temps réel les réseaux sociaux,
            les comparateurs de prix, les forums ou encore les portails journalistiques.
            Une vision à 360° qui peut être enrichie par vos propres outils et ressources (CRM, ERP, etc.)
            et accompagne votre marketing au quotidien pour une meilleure appréhension du lien entre
            l’espace numérique et votre entreprise.
          </p>
          <ul>
            <li> Vision synthétique et enrichie</li>
            <li> Détection de leads </li>
            <li> Analyse quantitative et qualitative des opinions  </li>
            <li> Réactivité en temps réel </li>
          </ul>
          <br><br>


          <!--      comment this if you don't want to add a button below the paragraph    -->
          <ul class="list list--column-mobile">
            <li class="list__item">
              <a href="https://www.4inradar.com" class="button button--primary button--full-width-mobile" target="_blank">
          	                              <span class="button__text">
          	                              Plus d'information
          	                              </span>
              </a>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </div>
</section>
