<section class="page-strip page-strip--light pb-0" id="radar">
  <div class="wrapper" data-aos="fade-up">
    <div class="section-title pb-0">
      <h2>4In Radar</h2>
    </div>
    <div class="fifty-fifty">
      <div class="fifty-fifty__child" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="20">
        <div class="page-strip__visual-container" style="transform: translateY(-18%)">
          <img src="assets/img/products/radar.png" alt="" class="page-strip__visual" style="transform: rotateY(180deg);">
        </div>
      </div>
      <div class="fifty-fifty__child">
        <div class="page-strip__content page-strip__content--margin-bottom">

          <h3 class="h3 page-strip__title">
            Augmenter la visibilité des produits/services
          </h3>
          <p class="p page-strip__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur est et illo, iste laudantium maiores
            sapiente sed voluptates voluptatum. Dicta doloremque obcaecati quis. Accusamus consequatur ducimus id
            impedit iusto quis.
          </p>
          <ul>
            <li> Fournir une vision synthétique et enrichie d'un domaine d'activité</li>
            <li> Détection de Lead dans les sites spécialisés et les réseaux sociaux</li>
            <li> Quantifier les opinions/retours des utilisateurs sur marque/produits</li>
          </ul>
          <br><br>


          <!--      uncomment this if you want to add a button below the paragraph    -->
          <!--          <ul class="list list&#45;&#45;column-mobile">-->
          <!--            <li class="list__item">-->
          <!--              <a href="https://newsapi.aylien.com/signup" class="button button&#45;&#45;primary button&#45;&#45;full-width-mobile" target="_blank">-->
          <!--	                              <span class="button__text">-->
          <!--	                              Access Structured News Data-->
          <!--	                              </span>-->
          <!--              </a>-->
          <!--            </li>-->

          <!--          </ul>-->
        </div>
      </div>
    </div>
  </div>
</section>
