<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>A Propos de Nous</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          4In Data est un éditeur de solutions logicielles (data science - text mining) au service des
          objectifs métiers de nos clients.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> IDEAS</li>
          <li><i class="ri-check-double-line"></i> INSIGHTS</li>
          <li><i class="ri-check-double-line"></i> INNOVATION</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          <strong>4INDATA</strong> est une entreprise innovante d’édition de solutions logicielles intelligentes qui accompagne
          les entreprises dans l’analyse et la gestion de leurs données textuelles. Ces dernières peuvent être
          difficiles à analyser et à gérer car elles sont plus complexes et quatre fois plus nombreuses que les
          données structurées. Une mine d’informations en attente d’être traitée et valorisée.
        </p>
      </div>
    </div>

  </div>
</section>
