<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>A Propos de Nous</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          4In Data est un éditeur de solutions logicielles (data science - text mining) au service des
          objectifs métiers de nos clients.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> IDEAS</li>
          <li><i class="ri-check-double-line"></i> INSIGHTS</li>
          <li><i class="ri-check-double-line"></i> INNOVATION</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          <strong>Intelligence Artificielle</strong> au service de la prévention du <span
          class="text-nowrap">cyber-harcèlement</span>. <br>
          une nouvelle approche d’analyse sémantique de contenu du Web social permettant
          d’identifier automatiquement des cas de harcèlement, ou du contenu violent.
        </p>
      </div>
    </div>

  </div>
</section>
