#hero {
  width: 100%;
  /*height: 102vh;*/
  height: fit-content;
  background: #37517e url("src/assets/img/hero/bg.svg") no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  #hero {
    height: 102vh;
  }
}

/*@media (max-width: 576px) {*/
/*  #hero {*/
/*    height: 82vh;*/
/*  }*/
/*}*/


#hero .container {
  padding-top: 72px;
}
