<div class="p-lg-5 font-assistant">
  <!--  <h1 style="font-size: 25pt;" class="pt-lg-3"> Slogan et logo ici</h1>-->
  <div class="typewriter">
    <div class="logo-container">
      <img src="assets/img/hero/logo.svg" class="logo" alt="logo 4In data">
    </div>
    <h1 class="slogan">AIntelligence who proTects</h1>
  </div>
  <div class="pr-lg-5">
    <h1 class="font-open-sans pt-lg-3">
      Un éditeur de solutions intelligentes accompagnant les
      entreprises dans le flot incessant des données pour les analyser
      et les transformer en connaissance.
    </h1>
    <h3 class="paragraph-2">
      Logiciels intelligents conformes aux normes internationales et dédiées à la sécurité des grandes industries.
    </h3>
  </div>
</div>
