<main class="start_site padding_top" data-aos="fade-up">
  <section class="articles pt-0  pb-0">
    <div class="container">
      <div class="row">

          <div class="article quicksand-medium">
            <div class="article_img">
              <img class="w-100" src="assets/img/blog/article.jpg" alt="article image">
            </div>
            <div class="article_info d-flex justify-content-between">
              <p class="art_date">
                <i class="art-icon icofont-ui-calendar"></i><span>Nov 4, 2020</span>
              </p>
              <span class="socials-sm">
                     <ul class="clr">

                  <li class="share-button" shareButton="facebook">
                    <a role="button" class="facebook-button">
                      <i class="bx bxl-facebook"></i>
                      <span class="wpex-label">Share</span>
                    </a>
                  </li>

                  <li class="share-button" shareButton="twitter">
                    <a role="button" class="twitter-button">
                      <span aria-hidden="true" class="bx bxl-twitter"></span>
                      <span class="wpex-label">Tweet</span>
                    </a>
                  </li>


                  <li class="share-button" shareButton="linkedin">
                    <a role="button" class="linkedin-button">
                      <span aria-hidden="true" class="bx bxl-linkedin"></span>
                      <span class="wpex-label">Share</span>
                    </a>
                  </li>

                </ul>

              </span>
            </div>
            <h3 class="article-tit col_purple">HOW TO CUSTOMIZE 4IN APP</h3>
            <div class="article_content">
              <p>There is no denying the fact that the success of an advertisement lies mostly in the headline.
                The headline should attract the reader and make him read the rest of the advertisement. </p>
              <p>There is no denying the fact that the success of an advertisement lies mostly in the headline.
                The headline should attract the reader and make him read the rest of the advertisement. </p>
              <p>The headline should attract the reader and make him read the rest of the advertisement. </p>
              <p>The headline should be simply catchy and various key points should be embedded There is no denying the
                fact that the success of an advertisement lies mostly in the headline. The headline should attract the
                reader and make him read the rest of the advertisement. The headline should be simply catchy and various
                key points should be embedded </p>
            </div>
            <div class="comments">
              <div class="comment d-flex justify-content-start align-content-center align-items-center">
                <div class="comment_img">
                  <img src="assets/img/blog/team1.jpg" alt="comment image">
                </div>
                <div class="comment-content">
                  <p class="_name text-uppercase text_bold quicksand-bold">Simon Drake</p>
                  <p class="comment-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.
                  </p>
                </div>
              </div>
              <div class="comment d-flex justify-content-start align-content-center align-items-center">
                <div class="comment_img">
                  <img src="assets/img/blog/team2.jpg" alt="comment image">
                </div>
                <div class="comment-content">
                  <p class="_name text-uppercase text_bold quicksand-bold">Simon Drake</p>
                  <p class="comment-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.
                  </p>
                </div>
              </div>
              <form id="comment_form" formGroup="{{form}}" class="text-center">
                <div class="row">
                  <div class="col">
                    <input type="text" id="user-name" class="form-input w-100" formControlName="name" placeholder="Votre Nom" required>
                  </div>
                  <div class="col">
                    <input type="email" id="user-email" class="form-input w-100" formControlName="email" placeholder="Votre E-mail" required>
                  </div>
                </div>
                <textarea class="form-input w-100" id="user-message" placeholder="Commentaire" formControlName="comment"></textarea>
                <button id="comment_submit" class="btn_grad text-uppercase" title="Commenter" type="submit" name="button">
                  <div class="rotate-icon"><i class="icofont-location-arrow"></i></div>
                </button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </section>
</main>
