input {
  height: 42px;
  padding: 0 1rem;
  background: #f5f5f58f;
  border: 0;
  border-radius: 30px;
  margin-bottom: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out; }
input::placeholder {
  color: #929292; }
input:focus {
  -webkit-transform: translate(0, -0.5rem);
  -moz-transform: translate(0, -0.5rem);
  -o-transform: translate(0, -0.5rem);
  transform: translate(0, -0.5rem); }

textarea {
  resize: none;
  padding: 1rem;
  height: 150px;
  background: #f5f5f58f;
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out; }
textarea::placeholder {
  color: #929292; }
textarea:focus {
  -webkit-transform: translate(0, -0.5rem);
  -moz-transform: translate(0, -0.5rem);
  -o-transform: translate(0, -0.5rem);
  transform: translate(0, -0.5rem); }

p, h1, h2, h3, form {
  margin: 0 0 1rem 0px; }


.articles {
  /*---- article -----*/
  /*---- comments -----*/
  /*---- comment form -----*/
}

.article_info {
  margin: 1rem 0;
}

.article .art_date, .articles .article .art_admin {
  color: #8e8d8d;
}

.article .art_date .art-icon, .articles .article .art_admin .art-icon {
  margin-right: .5rem;
}

.article .art_date {
  margin-right: 1.5rem;
}

.article .article_img {
  max-height: 535px;
  overflow: hidden;
  border-radius: 8px;
}

.comments {
  margin-top: 3rem;
}

.comments .comment {
  margin-bottom: 1rem;
}

.comments .comment .comment_img {
  -webkit-border-radius: 50% 100% 100% 50% / 69% 75% 75% 69%;
  border-radius: 50% 100% 100% 50% / 69% 75% 75% 69%;
  position: relative;
  width: 135px;
  height: 115px;
  overflow: hidden;
  margin-right: 2rem;
}

.comments .comment .comment_img img {
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.comments .comment .comment-content {
  background: #f5f5f58f;
  padding: 0 1rem;
  border-radius: 8px;
  width: 100%;
}

.comments .comment .comment-content ._name {
  margin: 1rem 0;
}

#comment_form {
  margin-top: 3rem;
}

#comment_form #comment_submit {
  -webkit-border-radius: 50% 100% 100% 50% / 69% 75% 75% 69%;
  border-radius: 50% 100% 100% 50% / 69% 75% 75% 69%;
  padding: 1rem 1.2rem;
}

.btn_grad {
  padding: .7rem 2rem;
  display: inline-block;
  color: #fff;
  border-radius: 2rem;
  border: 0;
  background: #7a60ff;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  outline: none;
}

#comment_submit .rotate-icon {
      transition: 0.3s;
}

#comment_submit:hover .rotate-icon{
      transform: rotate(45deg);
}


/*===================
 #social buttons
 ====================*/
.socials-sm{
  text-align: right;
}

.clr {
  color: #666;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  list-style: none;
  font-size: .923em;
  display: inline-block;
}


.share-button {
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  display: inline-block;
  margin: 0 3px 3px 0;
}

.share-button a {
  cursor: pointer;
  text-align: center;
  padding: .385em .769em;
  color: #fff !important;
  border-radius: 3px;
}

.facebook-button {
  background: #3b5998;
}

.facebook-button:hover {
  background: #324b80;
}

.linkedin-button {
  background: #4875b4;
}

.linkedin-button:hover {
  background: #3e659c;
}

.twitter-button {
  background: #00aced;
}

.twitter-button:hover {
  background: #0093cb;;
}

.wpex-label {
  margin: 0 0 0 .538em;
}
