<section class="page-strip page-strip--light pt-5 pb-0" id="shield">
  <div class="wrapper" data-aos="fade-up">
    <div class="section-title pb-0">
      <h2>4In Shield</h2>
    </div>
    <div class="fifty-fifty visual-slider-container">

      <div class="fifty-fifty__child" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="20">
        <div class="visual-slider slider visual-slider-couple slick-initialized slick-slider">
          <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 2280px;">
              <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                   style="width: 570px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                <div class="page-strip__visual-container">
                  <!-- 550 x 531 -->
<!--                  <img src="assets/img/products/Aylien_Graphics_Risk_Intel_Country.png" alt="Country risk" class="page-strip__visual">-->
                  <img src="assets/img/products/shield.png" alt="Country risk" class="page-strip__visual">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="fifty-fifty__child" >
        <div class="strip-slider-container">
          <ul
            class="list list--strips strip-slider slider visual-slider-couple slick-initialized slick-slider slick-vertical">

            <div class="slick-list draggable" style="height: 464px;">
              <div class="slick-track" style="opacity: 1; height: 504px; transform: translate3d(0px, 0px, 0px);">
                <li class="list__item slick-slide slick-current slick-active" style="width: 510px;" data-slick-index="0"
                    aria-hidden="false">
                  <div class="strip strip--animated">
                    <div class="strip__icon-container strip__icon-container--big">
                      <!-- 42 x 43 -->
                      <img src="https://aylien.com/images/uploads/icons/Global coverage_green.svg" alt="Country risk"
                           class="strip__icon">
                    </div>
                    <div class="strip__body">
                      <h4 class="h6 strip__label">Country risk</h4>
                      <p class="strip__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloremque omnis ullam.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="list__item slick-slide slick-active" style="width: 510px;" data-slick-index="1"
                    aria-hidden="false">
                  <div class="strip strip--animated">
                    <div class="strip__icon-container strip__icon-container--big">
                      <!-- 42 x 43 -->
                      <img src="https://aylien.com/images/uploads/icons/Warning_green.svg" alt="Emerging risk"
                           class="strip__icon">
                    </div>
                    <div class="strip__body">
                      <h4 class="h6 strip__label">Emerging risk</h4>
                      <p class="strip__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam!
                      </p>
                    </div>
                  </div>
                </li>
                <li class="list__item slick-slide slick-active" style="width: 510px;"  data-slick-index="2"
                    aria-hidden="false">
                  <div class="strip strip--animated">
                    <div class="strip__icon-container strip__icon-container--big">
                      <!-- 42 x 43 -->
                      <img src="https://aylien.com/images/uploads/icons/Revenue Loss_green.svg" alt="Reputational risk"
                           class="strip__icon">
                    </div>
                    <div class="strip__body">
                      <h4 class="h6 strip__label">Reputational risk</h4>
                      <p class="strip__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur quis.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="list__item slick-slide slick-active" style="width: 510px;"  data-slick-index="3"
                    aria-hidden="false">
                  <div class="strip strip--animated">
                    <div class="strip__icon-container strip__icon-container--big">
                      <!-- 42 x 43 -->
                      <img src="https://aylien.com/images/uploads/icons/third party risk_green.svg"
                           alt="Third-party risk" class="strip__icon">
                    </div>
                    <div class="strip__body">
                      <h4 class="h6 strip__label">Third-party risk</h4>
                      <p class="strip__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus.
                      </p>
                    </div>
                  </div>
                </li>
              </div>
            </div>
          </ul>

        </div>
      </div>


    </div>
  </div>
</section>
